<div class="navbar">
    <div><b>Placement Portal</b></div>
    <div>
        <a href="/dashboard">Dashboard</a>
        <a href="/coding">Coding</a>
        <a href="/resume">Resume</a>
        <a href="/mocktest">Mock Test</a>
    </div>
</div>

<!DOCTYPE html>
<html>
<body>
<h2>Register</h2>
<form method="POST">
<input name="username">
<input name="password" type="password">
<button>Register</button>
</form>
<script>
function toggleDark() {
    document.body.classList.toggle("dark");
}
</script>

</body>
</html>
